<div class="row" style="margin-top: 4%;">
    <div class="col-lg-5">
        <p>Selected Category: <b> {{appservice.selectedCategory == null ? "please select a category(start with the settings)" : appservice.selectedCategory.name}}</b> </p>
        <p>Other Categories: <b> {{otherCategoryNames}}</b> </p>

    </div>

    <div class="col-lg-5">
        <div class="form-inline">
            <label>Select a Category</label>
            <select class="form-control" style="width: 50%;" (change)="selectCategory(category)" [(ngModel)]="category">
                <option selected [ngValue] ="category">Add another Category</option>
            <option *ngFor="let category of appservice.categories;" [ngValue] ="category">{{category.name}}</option>
          </select>
        </div>
    </div>

    <div class="col-lg-2">
        <button class="btn btn-primary" (click)="Search()">Search</button>
    </div>
</div>

<br/>
<h4>List of meet-up Groups</h4>
<!-- Default box -->
<div class="box" *ngFor="let group of groups;">
    <div class=" box-header with-border ">
        <h3 class="box-title ">Organizer: {{group.organizer.name}}</h3>
        <img [src]="group.organizer.photo !== undefined ? group.organizer.photo.thumb_link :  ''" />
    </div>
    <div class="box-body" [innerHTML]="group.description">

    </div>
    <!-- /.box-body -->
    <div class="box-footer ">
        Event Name: <b>{{group.name}}</b>, Where: <b>{{group.localized_country_name}}</b>, City <b>{{group.city}}</b>
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->